body {

    height: 100vh;
    background-color: #162a88
}

main {

    height: 75%;
    width: 90%;
    background-color: #96abdd;
    margin-left: 1rem;
    border-radius: 8px;
    margin-top: 4rem;
}

main section {

    display: flex;
    justify-content: space-evenly;
}

#player1 {

    background-color: #162a88;
}

.players-score {

    margin-top: 3rem;
    border-radius: 8px;
    height: 20rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-player {

    font-size: 0.8rem;
}

.title-div {

    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-score {
    
    height: 5rem;
    width: 5rem;
    margin-bottom: 2rem;
    color: white;

}

.title-score {

    font-size: 0.8rem;
}
.number {

    font-size: 2rem;
}

#score1 {

    background-color: #142865;
}

#score2 {

    background-color: #4d5e86;
}